
.vs/Uno/v16/.suo
Uno/obj/Release/Uno.csprojAssemblyReference.cache
Uno/Uno.csproj.user
Uno/Uno.csproj.user
Uno/obj/Release/Uno.csprojAssemblyReference.cache
Uno/obj/Debug/Uno.StartupDisplay.resources
Uno/obj/Debug/Uno.SortedPlayersView.resources
Uno/obj/Debug/Uno.Properties.Resources.resources
Uno/obj/Debug/Uno.csproj.GenerateResource.Cache
Uno/obj/Debug/Uno.csproj.FileListAbsolute.txt
Uno/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
.vs/Uno/v16/.suo
